body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calendar {
    width: 95vw;
    height: 95vh;
}

.fc-daygrid-event,
.fc-content-week,
.fc-v-event {
    font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    background-color: rgba(91, 94, 199, 0.12);
    color: rgb(61, 62, 120);
    font-size: 100%;
    border-radius: 3.5px;
    border: none;
}

.fc .fc-daygrid-event {
    margin-top: 4px;
}

.fc-daygrid-event>div>.fc-title,
.fc-content-week .fc-title {
    font-family: Bahnschrift, Arial, sans-serif;
    color: #3D3E78;
}

.fc-content-week .fc-title-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 1.5px;
}

.fc-content-week .fc-title {
    text-align: center;
    font-size: 16px;
}

.fc-bar {
    width: 5px;
    height: 100%;
    border-radius: 3.5px 0 0 3.5px;
    background-color: rgba(91, 94, 199, 120);
    position: absolute;
    top: 0;
    left: 0;
}

.fc-time {
    margin-right: 8px;
    margin-left: 10px;
}

.fc-content {
    font-family: Bahnschrift, Arial, sans-serif;
}

.fc-list-item {
    background-color: transparent;
    padding: 0;
}

.fc-title {
    color: inherit;
    margin-left: 5px;
}

.fc-list-item img {
    margin-top: 5px;
    margin-right: 5px;
}

.fc-content img {
    width: 15px;
    height: 100%;
    margin-right: 3px;
}


#tooltip {
    position: absolute;
    z-index: 10;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    top: -9999px;
    left: -9999px;
}

#tooltip.hidden {
    display: none;
}

.tooltip {
    font-family: Bahnschrift, Arial, sans-serif;
    color: #333;
    font-size: 90%;
}

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
    background-color: rgb(250, 250, 250) !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none !important;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal button {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.fc-col-header-cell-cushion::first-letter,
.fc-toolbar-title::first-letter {
    text-transform: uppercase !important;
}