body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calendar {
    width: 95vw;
    height: 95vh;
}

.fc-timegrid-event,
.fc-event-main {
    padding: 0 !important;
}

.fc-daygrid-event,
.fc-content-week,
.fc-v-event {
    font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    color: rgb(61, 62, 120);
    font-size: 100%;
    border-radius: 3.5px;
    border: none;
}

.fc .fc-daygrid-event {
    margin-top: 4px;
}

.fc-daygrid-event>div>.fc-title,
.fc-content-week .fc-title {
    font-family: Bahnschrift, Arial, sans-serif;
    color: #3D3E78;
}

.fc-daygrid-event.normal {
    background-color: rgba(61, 62, 120, 0.5) !important;
}

.fc-daygrid-event.urgent {
    background-color: rgba(255, 0, 0, 0.5) !important;
}

.fc-content-week .fc-title-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 1.2px;
}

.fc-content-week .fc-title {
    text-align: center;
    font-size: 16px;
}

.fc-bar {
    width: 5px;
    height: 100%;
    border-radius: 3.5px 0 0 3.5px;
    position: absolute;
    top: 0;
    left: 0;
}

.fc-time {
    margin-right: 8px;
    margin-left: 10px;
}

.fc-content {
    font-family: Bahnschrift, Arial, sans-serif;
}

.fc-list-item {
    background-color: transparent;
    padding: 0;
}

.fc-title {
    color: inherit;
    margin-left: 5px;
}

.fc-list-item img {
    margin-top: 5px;
    margin-right: 5px;
}

.fc-content img {
    position: relative;
    top: -0.1vh;
    width: 0.90vw;
    height: 100%;
    margin-right: 0.1vw;
}

div.fc-content-week>.fc-title-container>img {
    top: 0;
}

#tooltip {
    position: absolute;
    z-index: 99000;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    display: block;
    opacity: 1;
    left: -99999vw;
    top: -99999vh;
}

#tooltip.hidden {
    display: none;
}


#tooltip.hidden {
    display: none;
}

.tooltip {
    font-family: Bahnschrift, Arial, sans-serif;
    color: #333;
    font-size: 90%;
}

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
    background-color: rgb(250, 250, 250) !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-group>.fc-button.fc-button-active,
.fc .fc-button-group>.fc-button:active,
.fc .fc-button-group>.fc-button:focus,
.fc .fc-button-group>.fc-button:hover {
    box-shadow: none !important;
}

.fc-col-header-cell-cushion::first-letter,
.fc-toolbar-title::first-letter,
.fc-list-day-text:first-letter {
    text-transform: uppercase !important;
}

.fc-col-header-cell-cushion,
.fc-col-header-cell-cushion:hover,
.fc-daygrid-day-number,
.fc-daygrid-day-number:hover,
.fc-list-day-text,
.fc-list-day-text:hover,
.fc-list-day-side-text,
.fc-list-day-side-text:hover {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.estiloTeams {
    background-color: rgba(91, 94, 199, 0.12);
    cursor: pointer;
}

.estiloTeams:hover {
    background-color: rgba(91, 94, 199, 0.19);
}

.estiloNota {
    background-color: rgb(178, 214, 242);
    cursor: pointer;
}

.estiloNota:hover {
    background-color: rgb(168, 208, 238);
}

.colorBarPurple {
    background-color: rgba(91, 94, 199, 120);
}

.colorBarBlue {
    background-color: rgb(27, 128, 214);
}

.fc-list-event.estiloNota,
.fc-list-event.estiloTeams {
    background-color: rgb(255, 255, 255);
}

.fc-time.colorBarPurple,
.fc-title.colorBarPurple {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(61, 62, 120) !important;
}

.fc-time.colorBarBlue,
.fc-title.colorBarBlue {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 61, 122) !important;
}

.modal {
    height: 37.5vh;
    width: 20.5vw !important;
    position: absolute !important;
    /*top: 50%;
    left: 50%;*/
    transform: translate(-50%, -50%) !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid #ccc !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 3px !important;
    z-index: 9999 !important;
    display: inline-block !important;
    overflow: visible;
}

.modal-header {
    background-color: rgb(240, 240, 240);
    border-bottom: none !important;
    width: 100% !important;
    height: 1vh !important;
}

.modal-body {
    padding: 0;
    padding-left: 1vw;
    padding-top: 2vh;
}

.modal.opened-right:before {
    position: absolute !important;
    content: "" !important;
    border-top: 7px solid transparent !important;
    border-right: 7px solid rgb(255, 255, 255) !important;
    border-bottom: 7px solid transparent !important;
    top: 51.9%;
    left: -0.94vh;
    overflow: visible !important;
}

.modal.opened-left:before {
    position: absolute !important;
    content: "";
    border-top: 7px solid transparent;
    border-left: 7px solid rgb(255, 255, 255);
    border-bottom: 7px solid transparent;
    top: 51.9%;
    right: -7px;
}

.modal.opened-right.opened-top:before,
.modal.opened-left.opened-top:before {
    top: 31.5%;
}

.modal.opened-right.opened-bottom:before,
.modal.opened-left.opened-bottom:before {
    top: 71.1%;
}

.modal button {
    display: block !important;
    margin-top: 10px !important;
    cursor: pointer !important;
}

.icone {
    width: 20px;
    height: 100%;
}

.iconeFechar {
    position: relative;
    left: 15px;
    cursor: pointer;
    color: #424242
}

.iconeHora,
.iconeLoc,
.iconeLink,
.iconeCopiar,
.iconePessoa,
.iconeDescricao {
    text-align: center;
    margin-right: 10px;
    width: 18px;
    height: 100%;
}

.iconeLoc {
    width: 20px;
}

.iconeDescricao {
    margin-right: 0.9vw;
}

.iconeCopiar {
    position: relative;
    right: -0.3vw;
    width: 16px;
    bottom: -0.1vh;
}

.iconeCheck {
    bottom: -0.2vh;
}

.iconePessoa {
    position: relative;
    top: 0.9vh;
}

.meuCalendario {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Web', sans-serif;
    font-size: 0.9rem;
    color: rgb(96, 94, 92);
}

.botoes-container {
    display: flex;
    justify-content: left;
    margin-left: 1.5vw;
    margin-top: -2.3vh !important;
}

.botoesDescricao {
    margin-top: -1vh !important;
}

.editarBotao,
.excluirBotao {
    display: flex;
    align-items: center;
    width: 4.5vw;
    height: 3.5vh;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    font-size: 0.92rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Web', sans-serif;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}

.editarBotao {
    margin-right: 0.5vw;
}

.editarBotao:hover,
.excluirBotao:hover {
    background-color: #69696915;
}

.iconeEditar,
.iconeExcluir {
    position: relative;
    width: 1vw;
    height: 2vh;
    margin-right: 5px;
}

.fc-mais-button>.fc-icon.fc-icon-chevron-right {
    transform: rotate(90deg);
}

.calendar-buttons {
    margin-right: 2em;
}

.calendar-buttons>.btn-primary,
.calendar-buttons>.btn-group>.dropdown-toggle {
    background-color: #2c3e50;
    border-color: #2c3e50 !important;
    box-shadow: none !important;
}

.calendar-buttons>.btn-primary:hover,
.calendar-buttons>.btn-group>.dropdown-toggle:hover {
    background-color: #1e2b37;
}

.calendar-buttons>.btn-primary:active,
.calendar-buttons>.btn-group>.dropdown-toggle:active {
    background-color: #1a252f;
}

.btn-primary>.fa-solid {
    margin-right: 0.3vw;
}

.dropdown-menu {
    transform: translate(-6px, 43px) !important;
    min-width: 8.5rem !important;
    border: 1px solid #ccc !important;
    padding: 0;
    cursor: pointer;
}

.dropdown-item {
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item:active {
    background-color: #e9ecef;
    color: #1e2125;
}

.dropdown-toggle::after {
    margin-left: 0.5em;
}

.iconeDropdown {
    position: relative;
    width: 2.2vh;
    right: 0.3vw;
    top: -0.15vh;
}

.fc-dayGridMonth-button {
    border-radius: 0.25em 0 0 0.25em !important;
}

.ui-widget-header {
    border: none !important;
    background: #FFFFFF !important;
}

.ui-button.ui-corner-all.ui-widget {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    padding-bottom: 0.8vh !important;
    background-color: rgb(255, 255, 255);
}

.ui-dialog-titlebar-close {
    background-color: #ffffff00;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ui-icon {
    margin-top: -0.6em !important;
}

.ui-dialog-buttonset>button {
    background-color: #ffffff00;
    border: 1px solid #ccc;
    height: 3.5vh;
    width: 4.5vw;
    border-radius: 5px;
    font-size: 0.92rem;

}

.ui-dialog-buttonset>button:hover,
.ui-dialog-titlebar-close:hover {
    background-color: #69696915;
}

.ui-dialog-buttonset>button:first-of-type {
    background: #2c3e50;
    color: #FFFFFF;
}

.ui-dialog-buttonset>button:first-of-type:hover {
    background-color: #1e2b37;
}

/* ----- Modal de visualização do evento ----- */
.ui-dialog {
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px;
}

/* Div Cabeçalho */
.ui-dialog-titlebar {
    background-color: rgb(240, 240, 240) !important;
}

.ui-dialog-title {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: normal;
    color: #555555;
}

.ui-dialog-titlebar-close {
    right: 0.5em !important;
    background-color: #FFFFFF;
}

/* Div Header Toolbar */
.ui-dialog-content {
    background-color: rgb(240, 240, 240) !important;
}

.headerToolbar {
    width: 100%;
    height: 5vh;
    background-color: #FFFFFF;
    border: 1px solid #dbd8d8;
    border-radius: 5px;
    padding-left: 0.4vw;
}

.headerToolbar>button {
    height: 3.7vh;
    width: 5.4vw;
    font-size: 1.06rem;
    font-weight: normal;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    background-color: transparent;
    color: #2e2e2e;
    border: 1px solid #c4c3c3;
    border-radius: 4px;
    margin-top: 0.6vh;
}

.headerToolbar>button:hover {
    background-color: #69696915;
}

.headerToolbar>button:focus-visible,
.ui-dialog-titlebar-close:focus-visible {
    outline: none !important;
}

.iconeTeamsView {
    height: 2.1vh;
    margin-bottom: 0.2vh;
}

/* Div Body Toolbar */

#dialog-confirm {
    background-color: #FFFFFF !important;
}

.bodyToolbar {
    width: 100%;
    height: 71vh;
    background-color: #FFFFFF;
    border: 1px solid #dbd8d8;
    border-radius: 5px;
    margin-top: 1vh;
    padding-left: 2vw;
    padding-top: 2vh;
}

.tituloEdit {
    font-size: 1rem;
}

.tituloEvento {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Web', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2.5vh;
    width: 50vh;
}

.linha,
.ultimaLinha {
    position: relative;
    border: 0;
    border-top: 1px solid #D1D1D1;
    width: 25.5vw;
    margin-left: -0.5vh;
    margin-bottom: 0.8vh;
    top: -1.2vh;
}

.ultimaLinha {
    top: -2.1vh;
}

.data,
.reuniao,
.link,
.author,
.descricao {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Web', sans-serif;
}

.descricao {
    margin-right: 1.4vw;
}

.data {
    margin-top: 4vh;
}

.organizador {
    position: relative;
    top: -1.4vh;
    margin-left: 1.5vw;
    font-size: 0.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Web', sans-serif;
}

.link a,
.fc-daygrid-more-link,
.fc-timegrid-more-link {
    text-decoration: none;
    color: inherit;
}

.fc-timegrid-more-link {
    background: #dfdfdf;
}

.fc-daygrid-more-link:hover,
.fc-timegrid-more-link:hover {
    color: #000000 !important;
}

.fc-timegrid-more-link:hover {
    background: #cdcdcd;
}


.link,
.iconeLink,
.iconeCopiar {
    color: rgb(91, 95, 199);
    cursor: pointer;
}

.link a {
    color: rgb(91, 95, 199) !important;
}

.link a:hover,
.iconeCopiar:hover {
    color: rgb(64, 67, 151) !important;
}


/* ----- Modal de edição do evento ----- */

#modal-edit>.bodyToolbar {
    height: 71vh;
}

/* Cabeçalho */
.botaoSalvar {
    background-color: rgb(0, 120, 212) !important;
    color: #FFFFFF !important;
}

.botaoSalvar:hover {
    background-color: rgb(0, 108, 191) !important;
}

/* Body */

.titleEdit,
.startEdit,
.endEdit,
.descEdit {
    width: 25vw;
}

.iconeEdit {
    text-align: center;
    margin-right: 10px;
    width: 18px;
    height: 100%;
}

.tituloEventoEdit,
.dataEdit,
.descricaoEdit {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 0.5vw;
}

.tituloEventoEdit {
    width: 34.5vw;
    height: 4vh;
}

.dataEdit {
    height: 4vh;
}

.dataEdit:first-of-type {
    margin-right: 0.3vw;
}

.descricaoEdit {
    width: 34.5vw;
    height: 30vh;
    padding-top: 1vh;
}

.linhaEdit {
    width: 71.5vh;
}

.bodyTypeFalse {
    position: relative;
    width: 24.3vw !important;
    margin-left: 1.5vw !important;
    bottom: 5vh;
}

.bodyTypeFalse2{
    position: relative;
    width: 24.3vw !important;
    margin-left: 1.5vw !important;
    bottom: 7.5vh;
}

.bodyTypeFalse3{
    position: relative;
    width: 24.3vw !important;
    margin-left: 1.5vw !important;
    bottom: 4.2vh;
}