/* Calendário */

#kt_calendar_app {
    width: 100%;
    height: 81vh;
    margin: 0;
    padding: 0;
}

.fc-toolbar-title:first-letter,
.fc-col-header-cell-cushion:first-letter {
    text-transform: uppercase;
}

.fc .fc-button-primary {
    background-color: #ebebeb;
}

.fc-button:hover {
    background-color: #0000001c !important;
}

.fc-button:disabled:hover {
    background-color: #F9F9F9 !important;
}

.fc-event {
    cursor: pointer;
}

.fc-today-button {
    color: #1C1C1C !important;
}

.fc-v-event {
    border-color: #ffffff00 !important;
}

.fc-event-time,
.fc-event-title {
    color: #393939 !important;
    margin-right: 0 !important;
}

.iconTeams,
.iconNote {
    width: 1vw;
}

.eventTeamsMonth,
.eventNoteMonth {
    margin-left: 0.5vw;
}

.eventTeamsWeek>img,
.eventNoteWeek>img {
    margin-right: 0.2vw;
}

.divTeams:hover {
    background-color: rgb(188 194 241) !important;
}

.divNote:hover {
    background-color: rgb(136 198 241) !important;
}

.divNote.eventAllDay,
.divTeams.eventAllDay {
    display: flex;
    align-items: center;
    padding: 2px 0;
    border: none !important;
}

.eventAllDay .iconNote,
.eventAllDay .iconTeams {
    margin-top: 0.3vh;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
}

.fc-daygrid-day-events {
    margin-bottom: 0 !important;
}

.fc-event-title.fc-sticky {
    max-width: 10vw !important;
    font-weight: 500;
}

.eventBar {
    width: 0.3vw;
    height: 100%;
    position: absolute;
    border-radius: 2px;
}

.fc-event-main-frame {
    margin-left: 0.4vw;
}

.fc-popover {
    max-width: 15vw;
}

/* Modal de Visualização do evento */

.divLeftView,
.divRightView {
    min-height: 56vh;
    max-height: 70vh;
}

.divRightView {
    padding-left: 0 !important;
}

/* Div Esquerda */
.x_cal_7102 div {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
}

.divEventTitle {
    margin-top: 0.5vh;
}

[data-kt-calendar="event_name"] {
    max-width: 500px;
    word-wrap: break-word;
}

[data-kt-calendar="event_description"] {
    width: 500px;
    height: 37.8vh;
    padding-right: 0.5vw;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Div Direta */

.divEventTracking {
    min-height: 0.5vh !important;
}



.titleTrackingView {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    width: 23rem;
}

.titleAuthorView {
    color: #707070 !important;
    font-size: 1.2rem;
}

[data-kt-calendar="event_author"],
[data-kt-calendar="event_author_edit"] {
    color: #4b4848;
    font-size: 1.15rem;
}

.divInitials,
.divInitialsInvite {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initialsAuthor,
.initialsAttendees,
.initialsInviteAttendees {
    font-size: 1rem;
    color: #fff;
}

.titleRequired,
.titleOptional,
.titleRequired>i,
.titleOptional>i {
    color: #858585 !important;
    font-size: 1.1rem;
    margin-bottom: 1.5vh;
    cursor: pointer;
}

.attendeeName,
.invateAttendeeName {
    white-space: nowrap;
}

.inviteAttendeeEmail {
    color: #4B5675;
}

.divAteendesEvent,
.divEventAuthor {
    width: 15vw;
    height: 5vh;
    padding-left: 0.5vw;
    border-radius: 5px;
}

.divInviteAteendesEvent {
    height: 5vh;
    padding-left: 0.5vw;
    border-radius: 5px;
    cursor: pointer;
}

.divScrollAttendees {
    width: 15.8vw;
    height: 45vh;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

.divAteendesEvent:hover,
.divInviteAteendesEvent:hover,
.divEventAuthor:hover {
    background-color: #00000014;
}

.eventAccepted {
    color: #27a92e;
}

.eventDeclined {
    color: #ff0000;
}

.iconCopyAttendees {
    position: relative;
    margin-right: 0.3vw;
    cursor: pointer;
}

.iconCopyAuthor {
    margin-right: 0.3vw;
    cursor: pointer;
}

.buttonResponse {
    margin-left: 1.5vw;
}

.eventMeetingAccepted,
.iconMeetingAccepted {
    color: #27a92e !important;
}

.eventMeetingDeclined,
.iconMeetingDeclined {
    color: #ff0000 !important;
}

.eventMeetingProvisional,
.iconMeetingProvisional,
.eventTentativelyAccepted {
    color: #320cbb !important;
}

.iconMeetingAccepted,
.iconMeetingDeclined,
.iconMeetingProvisional {
    margin-right: 0.3vw;
}

.eventButtonTeams {
    background-color: #6778FF !important;
    color: #ffffff !important;
    margin-right: 0.4vw;
}

.eventButtonTeams:hover {
    background-color: #4e5cc7 !important;
}

.iconTeamsWhite {
    height: 100%;
    width: 1vw;
    margin-right: 0.4vw;
}

/* Modal de Edição e Novo evento */

.inputEditTitle {
    width: 10vw;
}

.divEditEventTitle>input {
    width: 58vw;
}

.divEditTitleStart,
.divEditTitleEnd {
    width: 5vw !important;
}

.divEditStartDate,
.divEditStartTime,
.divEditEndDate,
.divEditEndTime {
    width: 6.4vw !important;
}

.divColStartDate,
.divColStartTime,
.divColEndDate,
.divColEndTime {
    width: 8vw !important;
}

.divEditTitleStart>div,
.divEditTitleEnd>div,
.labelEditAllDay {
    margin-top: 1vh !important;
}

.iconTeamsLabel {
    height: 100%;
    width: 1.3vw;
    margin-left: 0.5vw;
}

.iconDeleteAttendees {
    margin-top: 0.3vh;
    cursor: pointer;
}

#kt_calendar_datepicker_allday,
.labelButtonLocation,
.inputButtonLocation,
.labelButtonTeams {
    cursor: pointer;
}

.tags-look .tagify__dropdown__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
    border-color: black;
}

.tags-look .tagify__dropdown__item:hover {
    background: lightyellow;
    border-color: gold;
}

.tags-look .tagify__dropdown__item--hidden {
    max-width: 0;
    max-height: initial;
    padding: .3em 0;
    margin: .2em 0;
    white-space: nowrap;
    text-indent: -20px;
    border: 0;
}

.tags-look {
    z-index: 99999999 !important;
}

.form-control.form-control-solid {
    border-color: #DBDFE9 !important;
}

.buttonEditOptional {
    height: 4.6vh;
    width: 5vw;
    display: flex;
    align-items: center;
    margin-left: 0.3vw;
    padding-left: 0.4vw;
    background-color: #F9F9F9;
    color: #4B5675;
    border: 1px solid #DBDFE9;
    border-radius: 0.85rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.buttonEditOptional:hover {
    background-color: rgb(208, 228, 244);
    color: rgb(15, 108, 189);
}

.eventAllDay>.fc-event-time,
.eventAllDay>.fc-event-main>.fc-event-main-frame>.fc-event-time {
    display: none;
}

.form-check-input {
    cursor: pointer;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
}

.buttonFilterEvents,
.buttonAddEvents {
    width: 3.1vw !important;
    background-color: #F9F9F9 !important;
}

.buttonFilterEvents {
    margin-right: 3rem;
    border-radius: .85rem;
    text-align: center;
}

.buttonFilterEvents:hover,
.buttonAddEvents:hover {
    background-color: #0000001c !important;
}

.modalAddEvent .divRightView {
    display: none;
}

.modalAddEvent .divLeftView {
    width: 100%;
}

.modalAddEvent .mw-1000px {
    max-width: 695px !important;
}

.fc-timeGridWeek-view .fc-event-time,
.fc-timeGridDay-view .fc-event-time {
    display: none;
}

.fc-timeGridDay-view .eventAllDay,
.fc-timeGridWeek-view .eventAllDay {
    height: 2rem;
}

.fc-timeGridWeek-view .eventAllDay .iconNote,
.fc-timeGridWeek-view .eventAllDay .iconTeams,
.fc-timeGridDay-view .eventAllDay .iconNote,
.fc-timeGridDay-view .eventAllDay .iconTeams {
    margin-top: -0.06rem
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {

    .fc-dayGridMonth-view .eventAllDay .iconNote,
    .fc-dayGridMonth-view .eventAllDay .iconTeams {
        margin-top: 0.35rem;
    }

    .fc-timeGridDay-view .fc-event-title.fc-sticky {
        max-width: 93rem !important;
    }

    .fc-event-title.fc-sticky {
        max-width: 11.7rem !important;
    }

    .buttonAddEvents>i,
    .buttonFilterEvents .ki-filter {
        margin-left: -0.3rem;
    }

    /* Modal de visualização do evento */
    #kt_modal_view_event [data-kt-calendar="event_description"] {
        height: 23.7rem !important;
    }

    #kt_modal_view_event .divScrollAttendees {
        height: 31rem !important;
        width: 26.5rem !important;
    }

    .divAteendesEvent,
    .divEventAuthor {
        width: 22rem !important;
    }

    #kt_modal_view_event .kt_modal_view_event {
        width: 22rem !important;
    }

    /* Modal de inserção e edição do evento */

    #kt_modal_add_event .divLeftView,
    #kt_modal_add_event .divRightView {
        max-height: 67vh;
    }

    .buttonEditOptional {
        height: 3.35rem;
        width: 7rem;
        padding-left: 0.5rem;
    }

    #kt_modal_add_event .divScrollAttendees {
        height: 30rem !important;
        width: 24.5rem !important;
    }

    #kt_modal_add_event .divAttendeesEdit>.pt-8 {
        padding-top: 1rem !important;
    }

    #kt_modal_add_event .divLeftView {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #kt_modal_add_event .py-10 {
        padding-bottom: 0 !important;
    }

    #kt_modal_add_event .divEditTitleStart,
    #kt_modal_add_event .divEditTitleEnd {
        width: 7rem !important;
    }

    #kt_modal_add_event .divRightView {
        padding-left: 2rem !important;
    }

    .divColStartDate,
    .divColEndDate {
        margin-right: 1rem;
    }

    .divEditStartDate,
    .divEditEndDate {
        width: 10rem !important;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1367px) {

    .buttonAddEvents>i,
    .buttonFilterEvents .ki-filter {
        margin-left: -0.6rem;
    }

    .iconTeams,
    .iconNote {
        width: 1.5rem;
    }

    .fc-timeGridWeek-view .eventAllDay .iconNote,
    .fc-timeGridWeek-view .eventAllDay .iconTeams {
        margin-left: -0.05rem;
    }

    .divTeams .fc-event-title,
    .divNote .fc-event-title {
        max-width: 7.5rem;
    }

    .eventAllDay .fc-event-title {
        max-width: 9.8rem !important;
    }

    .fc-popover-body .divTeams,
    .fc-popover-body .divNote {
        width: 14.8rem;
    }

    .fc-popover-body .fc-event-title {
        max-width: 9.6rem;
    }

    .fc-popover-body .eventAllDay .fc-event-title {
        max-width: 12.5rem !important;
    }

    .fc-timeGridWeek-view .fc-event-title {
        max-width: 10.8rem !important;
    }

    .fc-timeGridDay-view .fc-event-title {
        max-width: 81rem !important;
    }

    /* Modal de visualização do evento */

    .divAttendees {
        width: 26.5rem;
    }

    #kt_modal_view_event .divScrollAttendees {
        width: 26rem;
        height: 31rem !important;
    }

    #kt_modal_view_event .divAteendesEvent,
    #kt_modal_view_event .divEventAuthor {
        width: 22rem !important;
    }

    /* Modal de inserção e edição do evento */

    .buttonEditOptional {
        height: 3.35rem;
        width: 7rem;
        padding-left: 0.5rem;
    }

    #kt_modal_add_event .divEditTitleStart,
    #kt_modal_add_event .divEditTitleEnd {
        width: 8rem !important;
    }

    #kt_modal_add_event .divEditStartDate,
    #kt_modal_add_event .divEditEndDate {
        width: 10rem !important;
    }

    #kt_modal_add_event .divEditStartTime,
    #kt_modal_add_event .divEditEndTime {
        width: 7.5rem !important;
    }

    #kt_modal_add_event .divColStartDate,
    #kt_modal_add_event .divColEndDate {
        margin-right: 2rem;
    }

    #kt_modal_add_event .divLeftView,
    #kt_modal_add_event .divRightView {
        max-height: 47rem !important;
    }

    #kt_modal_add_event .divAttendeesEdit {
        width: 26rem;
    }

    #kt_modal_add_event .divScrollAttendees {
        width: 26rem !important;
        height: 31rem !important;
    }

    #kt_modal_add_event .divAteendesEvent,
    #kt_modal_add_event .divEventAuthor {
        width: 22rem !important;
    }

    #kt_modal_add_event .tox.tox-tinymce.tox-platform-touch {
        height: 253px !important;
    }
}

@media screen and (max-width: 1366px) and (min-width: 1281px) {

    .buttonAddEvents>i,
    .buttonFilterEvents .ki-filter {
        margin-left: -0.7rem;
    }

    .iconTeams,
    .iconNote {
        width: 1.4rem;
    }

    .eventAllDay .iconNote,
    .eventAllDay .iconTeams {
        margin-top: 0.3rem;
    }

    .eventAllDay .fc-event-title {
        max-width: 9.1rem !important;
    }

    .fc-timeGridWeek-view .eventTeamsWeek {
        max-width: 10.1rem !important;
    }

    .fc-timeGridDay-view .fc-event-title {
        max-width: 75rem !important;
    }

    .fc-popover-body .fc-daygrid-event-harness {
        max-width: 14.3rem;
    }

    .fc-popover-body .eventAllDay .fc-event-title {
        max-width: 12rem !important;
    }

    /* Modal de visualização do evento */

    #kt_modal_view_event [data-kt-calendar="event_description"] {
        height: 20rem !important;
    }

    #kt_modal_view_event .divScrollAttendees {
        width: 26rem;
        height: 27.8rem;
    }

    #kt_modal_view_event .divAteendesEvent,
    #kt_modal_view_event .divEventAuthor {
        width: 22rem;
    }

    /* Modal de inserção e edição do evento */

    #kt_modal_add_event .divLeftView,
    #kt_modal_add_event .divRightView {
        max-height: 37rem !important;
    }

    .buttonEditOptional {
        height: 3.35rem;
        width: 7rem;
        padding-left: 0.5rem;
    }

    #kt_modal_add_event .divEditTitleStart,
    #kt_modal_add_event .divEditTitleEnd {
        width: 7rem !important;
    }

    #kt_modal_add_event .divColStartDate,
    #kt_modal_add_event .divColEndDate {
        width: 11rem !important;
    }

    #kt_modal_add_event .divEditStartDate,
    #kt_modal_add_event .divEditEndDate {
        width: 10.5rem !important;
    }

    #kt_modal_add_event .divEditStartTime,
    #kt_modal_add_event .divEditEndTime {
        width: 7.5rem !important;
    }

    #kt_modal_add_event .divScrollAttendees {
        width: 24rem !important;
        height: 20.1rem !important;
    }

    .divAteendesEvent,
    .divEventAuthor {
        width: 22rem !important;
    }

    #kt_modal_add_event .divLeftView {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #kt_modal_add_event .py-10 {
        padding-bottom: 0 !important;
    }

    #kt_modal_add_event .divRightView {
        padding-left: 2rem !important;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1000px) {

    .buttonAddEvents>i,
    .buttonFilterEvents .ki-filter {
        margin-left: -0.7rem;
    }

    .iconTeams,
    .iconNote {
        width: 1.4rem !important;
        margin-bottom: 0.1rem;
    }

    .eventAllDay .iconNote,
    .eventAllDay .iconTeams {
        margin-top: 0.25rem;
    }

    .eventAllDay .fc-event-title {
        max-width: 8.2rem !important;
    }

    .fc-timeGridWeek-view .fc-event-title {
        max-width: 9.2rem !important;
    }

    .fc-timeGridDay-view .fc-event-title {
        max-width: 68.8rem !important;
    }

    .fc-popover-body .fc-daygrid-event-harness {
        width: 13.4rem !important;
    }

    .fc-popover-body .fc-event-title {
        max-width: 11rem !important;
    }

    /* Modal de visualização do evento */

    #kt_modal_view_event .divScrollAttendees {
        width: 26rem !important;
        height: 29rem !important;
    }

    #kt_modal_view_event .divAteendesEvent,
    #kt_modal_view_event .divEventAuthor {
        width: 22rem !important;
    }

    #kt_modal_view_event [data-kt-calendar="event_description"] {
        height: 21.3rem !important;
    }

    /* Modal de inserção e edição do evento */

    #kt_modal_add_event .divLeftView,
    #kt_modal_add_event .divRightView {
        max-height: 39rem !important;
    }

    .buttonEditOptional {
        height: 3.35rem;
        width: 7rem;
        padding-left: 0.5rem;
    }

    #kt_modal_add_event .divEditTitleStart,
    #kt_modal_add_event .divEditTitleEnd {
        width: 7rem !important;
    }

    #kt_modal_add_event .divColStartDate,
    #kt_modal_add_event .divColEndDate {
        width: 11rem !important;
    }

    #kt_modal_add_event .divEditStartDate,
    #kt_modal_add_event .divEditEndDate {
        width: 10.5rem !important;
    }

    #kt_modal_add_event .divEditStartTime,
    #kt_modal_add_event .divEditEndTime {
        width: 7.5rem !important;
    }

    #kt_modal_add_event .divScrollAttendees {
        width: 24rem !important;
        height: 22rem !important;
    }

    #kt_modal_add_event .divAteendesEvent,
    #kt_modal_add_event .divEventAuthor {
        width: 22rem !important;
    }

    #kt_modal_add_event .divLeftView {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #kt_modal_add_event .py-10 {
        padding-bottom: 0 !important;
    }

    #kt_modal_add_event .divRightView {
        padding-left: 2rem !important;
    }
}

@media screen and (max-width: 460px) and (min-width: 391px) {

    .divNote.eventAllDay .eventBar,
    .divNote.fc-event-end .eventBar {
        width: 0.08rem;
    }

    .divNote .eventBar {
        width: 0.1rem;
    }

    .iconTeams,
    .iconNote,
    .fc-event-time {
        display: none !important;
    }

    .divTeams .fc-event-title,
    .divNote .fc-event-title {
        font-size: 0.7rem !important;
        max-width: 3.7rem !important;
    }

    .fc-timeGridWeek-view .fc-daygrid-event .fc-event-title {
        max-width: 2.7rem !important;
    }

    .fc-timeGridWeek-view .fc-event-title {
        margin-top: 1.3px;
    }

    .fc-timeGridDay-view .fc-event-title {
        max-width: 24.5rem !important;
    }

    .fc-daygrid-more-link {
        font-size: 0.6rem
    }

    .fc-theme-standard .fc-popover {
        max-width: 15rem !important;
    }

    .fc-popover-body .divTeams,
    .fc-popover-body .divNote {
        max-width: 13.3rem !important;
    }

    .fc-popover-body .divNote.eventAllDay .eventBar {
        width: 0.1rem !important;
    }

    .fc-popover-body .fc-event-title {
        max-width: 13rem !important;
    }

    /* Modal de visualização do evento */

    #kt_modal_view_event {
        height: 66rem !important;
        margin-top: 3rem;
    }

    #kt_modal_view_event .mw-1000px {
        width: 449px !important;
    }

    .tox {
        display: none !important;
    }

    .modal-body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .divLeftView {
        min-height: 15rem;
        max-height: 53rem;
    }

    .divRightView {
        min-height: 15rem;
        max-height: 52rem;
    }

    /* Modal de inserção e edição do evento */

}

@media screen and (max-width: 390px) and (min-width: 281px) {

    .divNote.eventAllDay .eventBar,
    .divNote.fc-event-end .eventBar {
        width: 0.08rem;
    }

    .divNote .eventBar {
        width: 0.1rem;
    }

    .iconTeams,
    .iconNote,
    .fc-event-time {
        display: none !important;
    }

    .divTeams .fc-event-title,
    .divNote .fc-event-title {
        font-size: 0.7rem !important;
        max-width: 2.9rem !important;
    }

    .fc-timeGridWeek-view .fc-daygrid-event .fc-event-title {
        max-width: 2.2rem !important;
    }

    .fc-timeGridWeek-view .fc-event-title {
        margin-top: 1.3px;
    }

    .fc-timeGridDay-view .fc-event-title {
        max-width: 18.7rem !important;
    }

    .fc-daygrid-more-link {
        font-size: 0.5rem
    }

    .fc-theme-standard .fc-popover {
        max-width: 15rem !important;
    }

    .fc-popover-body .divTeams,
    .fc-popover-body .divNote {
        max-width: 13.3rem !important;
    }

    .fc-popover-body .eventAllDay .eventBar {
        width: 0.01rem !important;
    }

    .fc-popover-body .divTeams .eventBar {
        width: 0.01rem !important;
    }

    .fc-popover-body .fc-event-title {
        max-width: 13rem !important;
    }

    /* Modal de visualização do evento */


    /* Modal de inserção e edição do evento */
}

@media screen and (max-width: 280px) and (min-width: 200px) {



    /* Modal de visualização do evento */


    /* Modal de inserção e edição do evento */
}